*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, #e4e6ff,#9bff9a);
}
script{
        font-size: 25px;
}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #e4e6ff,#9bff9a);
}
.container{
   background: linear-gradient(to top left, #a14b4b33,#ff0b8d33);
   width: 50%;
   position: absolute;
   left: 25%;
   transform: translateY(40%);
   padding: 15px;
   box-shadow: 0px 2px 5px 0.1px #5b64df;
   border-radius: 10px;
}
form{
    margin: 5px;
    padding: 10px 10px 10px 18px;
    width: 60%;
    display: inline-block;
    border-left: 1px solid #f2cece;
}
input{
    margin: 10px;
    padding: 8px;
    font-size: 1rem;
    color: #3d3c3c;
    
}
label{
    color: rgb(72, 67, 67);
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}
#e_date,#CVV{
    width: 80%;
    display:block;
}
#card_n,#name{
    width: 90%;
}
input[type="submit"]{
    background-color: rgb(0, 157, 255);
    padding: 10px;
    width: 90%;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 5px;
}
.c_name{
    width: 30%;
    display: inline-block;
}
.c_name img{
    width:90%;
    height: 3pc;
}
.c_name p{
    color: rgb(95, 92, 92);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 5px;
}
.card_s{
    margin: 13px;
    padding: 5px;
}
.card_s:hover{
    border: 1.6px solid rgba(150, 243, 255, 0.747);
}
.ex_{
    display: inline;
}
.cv_{
    display: inline;
}
.ex_cv{
    display: flex;
}
#submit:hover{
    background-color: rgb(20, 38, 117);
}
.h{
    width: 100%;
    display: flex;
    position: absolute;
    padding: 15px;
    border-bottom: 1px solid #ffffff33;
}
.h h1{
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h p {
    
    position: relative;
    left: 79%;
    top: 22px;
    
}
.h p a{
    text-decoration: none;
    color: #f32797;
    padding: 5px 15px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.h a:hover{
    color: #7a0c3a;
    background-color: #ffa48f;
    border-radius: 5px;
    transition-duration: 0.4s;
    
}
.logo {
height: 100px;
}